@page
@model Client_2_API.Pages.Ventes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vente.Annee" class="control-label"></label>
                <input asp-for="Vente.Annee" class="form-control" />
                <span asp-validation-for="Vente.Annee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vente.Nbr_vente" class="control-label"></label>
                <input asp-for="Vente.Nbr_vente" class="form-control" />
                <span asp-validation-for="Vente.Nbr_vente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vente.Revenu" class="control-label"></label>
                <input asp-for="Vente.Revenu" class="form-control" />
                <span asp-validation-for="Vente.Revenu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vente.Pays" class="control-label"></label>
                <input asp-for="Vente.Pays" class="form-control" />
                <span asp-validation-for="Vente.Pays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
